In [2]:
import pandas as pd
import csv
import os
import numpy as np
from config import user_name,password

In [180]:
btc = pd.read_csv("data/BTC-USD.csv")
btc = btc.drop(columns=["Adj Close","Open","High","Low","Volume"])
btc['Date']= pd.to_datetime(btc['Date'])
btc = btc.dropna()
btc_data = btc.iloc[::-1]
btc_data.head()

           Date         Close
1826 2021-10-08  54199.207031
1824 2021-10-06  55361.449219
1823 2021-10-05  51514.812500
1822 2021-10-04  49112.902344
1821 2021-10-03  48199.953125

In [181]:
btc_data = btc_data.rename(columns={'Close': 'Close_Btc'})
btc_data['Date'] = pd.to_datetime(btc_data['Date'])
btc_data['Day_Btc'] = btc_data['Date'].dt.day_name()
btc_data = btc_data.sort_values(by="Date")
btc_data

           Date     Close_Btc    Day_Btc
0    2016-10-08    619.107971   Saturday
1    2016-10-09    616.752014     Sunday
2    2016-10-10    618.994019     Monday
3    2016-10-11    641.072021    Tuesday
4    2016-10-12    636.192017  Wednesday
...         ...           ...        ...
1821 2021-10-03  48199.953125     Sunday
1822 2021-10-04  49112.902344     Monday
1823 2021-10-05  51514.812500    Tuesday
1824 2021-10-06  55361.449219  Wednesday
1826 2021-10-08  54199.207031     Friday

[1822 rows x 3 columns]

In [209]:
btc_data["BTC_Change%"] = btc_data["Close_Btc"].pct_change()
btc_data

           Date     Close_Btc    Day_Btc  BTC_Change%
0    2016-10-08    619.107971   Saturday          NaN
1    2016-10-09    616.752014     Sunday    -0.003805
2    2016-10-10    618.994019     Monday     0.003635
3    2016-10-11    641.072021    Tuesday     0.035668
4    2016-10-12    636.192017  Wednesday    -0.007612
...         ...           ...        ...          ...
1821 2021-10-03  48199.953125     Sunday     0.010238
1822 2021-10-04  49112.902344     Monday     0.018941
1823 2021-10-05  51514.812500    Tuesday     0.048906
1824 2021-10-06  55361.449219  Wednesday     0.074670
1826 2021-10-08  54199.207031     Friday    -0.020994

[1822 rows x 4 columns]

In [182]:
btc_data.dtypes

Date         datetime64[ns]
Close_Btc           float64
Day_Btc              object
dtype: object

In [183]:
eth = pd.read_csv("data/ETH-USD.csv")
eth = eth.drop(columns=["Adj Close","Open","High","Low","Volume"])
eth['Date']= pd.to_datetime(eth['Date'])
eth_data = eth.dropna()
eth_data = eth_data.iloc[::-1]
eth_data.head()

           Date        Close
1826 2021-10-08  3597.323730
1824 2021-10-06  3580.562012
1823 2021-10-05  3518.518555
1822 2021-10-04  3380.089111
1821 2021-10-03  3418.358643

In [184]:
eth_data = eth_data.rename(columns={'Close': 'Close_Eth'})
eth_data['Date'] = pd.to_datetime(eth_data['Date'])
eth_data['Day_Eth'] = eth_data['Date'].dt.day_name()
eth_data = eth_data.sort_values(by="Date")
eth_data

           Date    Close_Eth    Day_Eth
0    2016-10-08    12.219100   Saturday
1    2016-10-09    12.053700     Sunday
2    2016-10-10    11.755500     Monday
3    2016-10-11    11.785700    Tuesday
4    2016-10-12    11.933500  Wednesday
...         ...          ...        ...
1821 2021-10-03  3418.358643     Sunday
1822 2021-10-04  3380.089111     Monday
1823 2021-10-05  3518.518555    Tuesday
1824 2021-10-06  3580.562012  Wednesday
1826 2021-10-08  3597.323730     Friday

[1822 rows x 3 columns]

In [185]:
eth_data.dtypes

Date         datetime64[ns]
Close_Eth           float64
Day_Eth              object
dtype: object

In [200]:
gold = pd.read_csv("data/Gold-Futures.csv")
gold = gold.drop(columns=["Vol.","Change %","Open","High","Low"])
gold['Date']= pd.to_datetime(gold['Date'])
gold_data = gold.dropna()
gold_data.head()

        Date     Price
0 2021-10-08  1,758.05
1 2021-10-07  1,755.45
2 2021-10-06  1,761.80
3 2021-10-05  1,760.90
4 2021-10-04  1,767.60

In [201]:
gold_data = gold_data.rename(columns={'Price': 'Price_Gold'})
gold_data['Date'] = pd.to_datetime(gold_data['Date'])
gold_data['Day_Gold'] = gold_data['Date'].dt.day_name()
gold_data = gold_data.sort_values(by="Date")
gold_data = gold_data.reset_index(drop=True)
gold_data

           Date Price_Gold   Day_Gold
0    2016-09-08   1,400.20   Thursday
1    2016-09-09   1,393.10     Friday
2    2016-09-12   1,384.40     Monday
3    2016-09-13   1,380.80    Tuesday
4    2016-09-14   1,383.30  Wednesday
...         ...        ...        ...
1341 2021-10-04   1,767.60     Monday
1342 2021-10-05   1,760.90    Tuesday
1343 2021-10-06   1,761.80  Wednesday
1344 2021-10-07   1,755.45   Thursday
1345 2021-10-08   1,758.05     Friday

[1346 rows x 3 columns]

In [202]:
gold_data['Price_Gold'] = gold_data.Price_Gold.str.replace(',', '').astype(float)
gold_data

           Date  Price_Gold   Day_Gold
0    2016-09-08     1400.20   Thursday
1    2016-09-09     1393.10     Friday
2    2016-09-12     1384.40     Monday
3    2016-09-13     1380.80    Tuesday
4    2016-09-14     1383.30  Wednesday
...         ...         ...        ...
1341 2021-10-04     1767.60     Monday
1342 2021-10-05     1760.90    Tuesday
1343 2021-10-06     1761.80  Wednesday
1344 2021-10-07     1755.45   Thursday
1345 2021-10-08     1758.05     Friday

[1346 rows x 3 columns]

In [203]:
gold_data.dtypes

Date          datetime64[ns]
Price_Gold           float64
Day_Gold              object
dtype: object

In [204]:
snp = pd.read_csv("data/S&P-500.csv")
snp = snp.drop(columns=["Vol.","Change %","Open","High","Low"])
snp['Date']= pd.to_datetime(snp['Date'])
snp_data = snp.dropna()
snp_data.head()

        Date     Price
0 2021-10-07  4,399.76
1 2021-10-06  4,363.55
2 2021-10-05  4,345.72
3 2021-10-04  4,300.46
4 2021-10-01  4,357.05

In [205]:
snp_data = snp_data.rename(columns={'Price': 'Price_Snp'})
snp_data['Date'] = pd.to_datetime(snp_data['Date'])
snp_data['Day_Snp'] = snp_data['Date'].dt.day_name()
snp_data = snp_data.sort_values(by="Date")
snp_data = snp_data.reset_index(drop=True)
snp_data['Price_Snp'] = snp_data.Price_Snp.str.replace(',', '').astype(float)
snp_data

           Date  Price_Snp    Day_Snp
0    2016-09-08    2181.30   Thursday
1    2016-09-09    2127.81     Friday
2    2016-09-12    2159.04     Monday
3    2016-09-13    2127.02    Tuesday
4    2016-09-14    2125.77  Wednesday
...         ...        ...        ...
1275 2021-10-01    4357.05     Friday
1276 2021-10-04    4300.46     Monday
1277 2021-10-05    4345.72    Tuesday
1278 2021-10-06    4363.55  Wednesday
1279 2021-10-07    4399.76   Thursday

[1280 rows x 3 columns]

In [206]:
usbond = pd.read_csv("data/US-10-Year-Bond.csv")
usbond = usbond.drop(columns=["Change %","Open","High","Low"])
usbond['Date']= pd.to_datetime(usbond['Date'])
usbond_data = usbond.dropna()
usbond_data.head()

        Date  Price
0 2021-10-08  1.589
1 2021-10-07  1.576
2 2021-10-06  1.528
3 2021-10-05  1.528
4 2021-10-04  1.481

In [207]:
usbond_data = usbond_data.rename(columns={'Price': 'Price_USB'})
usbond_data['Date'] = pd.to_datetime(usbond_data['Date'])
usbond_data['Day_USB'] = usbond_data['Date'].dt.day_name()
usbond_data = usbond_data.sort_values(by="Date")
usbond_data = usbond_data.reset_index(drop=True)
usbond_data

           Date  Price_USB    Day_USB
0    2016-09-08      1.601   Thursday
1    2016-09-09      1.675     Friday
2    2016-09-11      1.670     Sunday
3    2016-09-12      1.666     Monday
4    2016-09-13      1.729    Tuesday
...         ...        ...        ...
1545 2021-10-04      1.481     Monday
1546 2021-10-05      1.528    Tuesday
1547 2021-10-06      1.528  Wednesday
1548 2021-10-07      1.576   Thursday
1549 2021-10-08      1.589     Friday

[1550 rows x 3 columns]

In [208]:
usbond_data.dtypes

Date         datetime64[ns]
Price_USB           float64
Day_USB              object
dtype: object

In [165]:
bit_1 = btc_data.merge(eth_data, how='left', on='Date')
bit_1

,Date,Open_Btc,High_Btc,Low_Btc,Close_Btc,Volume_Btc,Day_Btc,Open_Eth,High_Eth,Low_Eth,Close_Eth,Volume_Eth,Day_Eth
0,2016-10-08,617.341003,619.848999,617.341003,619.107971,4.234590e+07,Saturday,12.674000,12.686900,12.045500,12.219100,1.161120e+07,Saturday
1,2016-10-09,619.171997,619.197998,616.606995,616.752014,3.924340e+07,Sunday,12.215600,12.357100,11.979500,12.053700,7.208480e+06,Sunday
2,2016-10-10,616.822021,621.317993,616.197021,618.994019,6.748110e+07,Monday,12.060700,12.062200,11.624000,11.755500,1.080920e+07,Monday
3,2016-10-11,619.237976,642.080017,618.500000,641.072021,1.035900e+08,Tuesday,11.762400,12.160900,11.751300,11.785700,1.172770e+07,Tuesday
4,2016-10-12,640.870972,641.336975,635.965027,636.192017,9.237020e+07,Wednesday,11.784600,12.072000,11.707200,11.933500,9.694640e+06,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1817,2021-10-03,47680.027344,49130.691406,47157.289063,48199.953125,2.663812e+10,Sunday,3390.767578,3484.605713,3348.120117,3418.358643,1.551657e+10,Sunday
1818,2021-10-04,48208.906250,49456.777344,47045.003906,49112.902344,3.338317e+10,Monday,3418.776367,3434.775391,3283.448730,3380.089111,1.774715e+10,Monday
1819,2021-10-05,49174.960938,51839.984375,49072.839844,51514.812500,3.587390e+10,Tuesday,3381.784424,3541.451660,3365.817627,3518.518555,1.663259e+10,Tuesday
1820,2021-10-06,51486.664063,55568.464844,50488.191406,55361.449219,4.903473e+10,Wednesday,3516.570313,3622.551270,3354.469727,3580.562012,2.185523e+10,Wednesday
1821,2021-10-08,53756.832031,54417.851563,53756.832031,54199.207031,3.582475e+10,Friday,3580.508057,3617.075684,3580.508057,3597.323730,1.819156e+10,Friday

In [166]:
bit_2 = bit_1.merge(snp_data, how='left', on='Date')
bit_2

,Date,Open_Btc,High_Btc,Low_Btc,Close_Btc,Volume_Btc,Day_Btc,Open_Eth,High_Eth,Low_Eth,Close_Eth,Volume_Eth,Day_Eth,Price_Snp,Open_Snp,High_Snp,Low_Snp,Day_Snp
0,2016-10-08,617.341003,619.848999,617.341003,619.107971,4.234590e+07,Saturday,12.674000,12.686900,12.045500,12.219100,1.161120e+07,Saturday,NaN,NaN,NaN,NaN,NaN
1,2016-10-09,619.171997,619.197998,616.606995,616.752014,3.924340e+07,Sunday,12.215600,12.357100,11.979500,12.053700,7.208480e+06,Sunday,NaN,NaN,NaN,NaN,NaN
2,2016-10-10,616.822021,621.317993,616.197021,618.994019,6.748110e+07,Monday,12.060700,12.062200,11.624000,11.755500,1.080920e+07,Monday,"2,163.66","2,160.39","2,169.60","2,160.39",Monday
3,2016-10-11,619.237976,642.080017,618.500000,641.072021,1.035900e+08,Tuesday,11.762400,12.160900,11.751300,11.785700,1.172770e+07,Tuesday,"2,136.73","2,161.35","2,161.56","2,128.84",Tuesday
4,2016-10-12,640.870972,641.336975,635.965027,636.192017,9.237020e+07,Wednesday,11.784600,12.072000,11.707200,11.933500,9.694640e+06,Wednesday,"2,139.18","2,137.67","2,145.36","2,132.77",Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1817,2021-10-03,47680.027344,49130.691406,47157.289063,48199.953125,2.663812e+10,Sunday,3390.767578,3484.605713,3348.120117,3418.358643,1.551657e+10,Sunday,NaN,NaN,NaN,NaN,NaN
1818,2021-10-04,48208.906250,49456.777344,47045.003906,49112.902344,3.338317e+10,Monday,3418.776367,3434.775391,3283.448730,3380.089111,1.774715e+10,Monday,"4,300.46","4,348.84","4,355.51","4,278.94",Monday
1819,2021-10-05,49174.960938,51839.984375,49072.839844,51514.812500,3.587390e+10,Tuesday,3381.784424,3541.451660,3365.817627,3518.518555,1.663259e+10,Tuesday,"4,345.72","4,309.87","4,369.23","4,309.87",Tuesday
1820,2021-10-06,51486.664063,55568.464844,50488.191406,55361.449219,4.903473e+10,Wednesday,3516.570313,3622.551270,3354.469727,3580.562012,2.185523e+10,Wednesday,"4,363.55","4,319.57","4,365.57","4,290.49",Wednesday
1821,2021-10-08,53756.832031,54417.851563,53756.832031,54199.207031,3.582475e+10,Friday,3580.508057,3617.075684,3580.508057,3597.323730,1.819156e+10,Friday,NaN,NaN,NaN,NaN,NaN

In [167]:
bit_3 = bit_2.merge(usbond_data, how='left', on='Date')
bit_3.dropna()

,Date,Open_Btc,High_Btc,Low_Btc,Close_Btc,Volume_Btc,Day_Btc,Open_Eth,High_Eth,Low_Eth,...,Price_Snp,Open_Snp,High_Snp,Low_Snp,Day_Snp,Price_USB,Open_USB,High_USB,Low_USB,Day_USB
2,2016-10-10,616.822021,621.317993,616.197021,618.994019,6.748110e+07,Monday,12.060700,12.062200,11.624000,...,"2,163.66","2,160.39","2,169.60","2,160.39",Monday,1.765,1.723,1.765,1.723,Monday
3,2016-10-11,619.237976,642.080017,618.500000,641.072021,1.035900e+08,Tuesday,11.762400,12.160900,11.751300,...,"2,136.73","2,161.35","2,161.56","2,128.84",Tuesday,1.767,1.767,1.781,1.745,Tuesday
4,2016-10-12,640.870972,641.336975,635.965027,636.192017,9.237020e+07,Wednesday,11.784600,12.072000,11.707200,...,"2,139.18","2,137.67","2,145.36","2,132.77",Wednesday,1.771,1.769,1.801,1.764,Wednesday
5,2016-10-13,636.030029,638.833008,635.028992,636.786011,6.162070e+07,Thursday,11.909200,12.131200,11.783700,...,"2,132.55","2,130.26","2,138.19","2,114.72",Thursday,1.746,1.767,1.769,1.727,Thursday
6,2016-10-14,637.007996,641.284973,637.007996,640.377991,5.814460e+07,Friday,11.989100,12.074000,11.895900,...,"2,132.98","2,139.68","2,149.19","2,132.98",Friday,1.805,1.752,1.805,1.750,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1814,2021-09-30,41551.269531,44092.601563,41444.582031,43790.894531,3.114168e+10,Thursday,2852.558838,3046.519531,2840.289551,...,"4,307.54","4,370.67","4,382.55","4,306.24",Thursday,1.492,1.510,1.557,1.484,Thursday
1815,2021-10-01,43816.742188,48436.011719,43320.023438,48116.941406,4.285064e+10,Friday,3001.129395,3329.853516,2978.654297,...,"4,357.05","4,317.16","4,375.19","4,288.52",Friday,1.465,1.501,1.510,1.462,Friday
1818,2021-10-04,48208.906250,49456.777344,47045.003906,49112.902344,3.338317e+10,Monday,3418.776367,3434.775391,3283.448730,...,"4,300.46","4,348.84","4,355.51","4,278.94",Monday,1.481,1.460,1.508,1.453,Monday
1819,2021-10-05,49174.960938,51839.984375,49072.839844,51514.812500,3.587390e+10,Tuesday,3381.784424,3541.451660,3365.817627,...,"4,345.72","4,309.87","4,369.23","4,309.87",Tuesday,1.528,1.486,1.540,1.472,Tuesday
1820,2021-10-06,51486.664063,55568.464844,50488.191406,55361.449219,4.903473e+10,Wednesday,3516.570313,3622.551270,3354.469727,...,"4,363.55","4,319.57","4,365.57","4,290.49",Wednesday,1.528,1.536,1.573,1.508,Wednesday

In [168]:
gold_1 = gold_data.merge(usbond_data, how='left', on='Date')
gold_1

,Date,Price_Gold,Open_Gold,High_Gold,Low_Gold,Day_Gold,Price_USB,Open_USB,High_USB,Low_USB,Day_USB
0,2016-09-08,"1,400.20","1,400.20","1,400.20","1,400.20",Thursday,1.601,1.541,1.620,1.529,Thursday
1,2016-09-09,"1,393.10","1,393.10","1,393.10","1,393.10",Friday,1.675,1.602,1.678,1.594,Friday
2,2016-09-12,"1,384.40","1,384.40","1,384.40","1,384.40",Monday,1.666,1.668,1.697,1.659,Monday
3,2016-09-13,"1,380.80","1,380.80","1,380.80","1,380.80",Tuesday,1.729,1.661,1.752,1.637,Tuesday
4,2016-09-14,"1,383.30","1,386.70","1,386.70","1,379.20",Wednesday,1.698,1.725,1.743,1.682,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...
1341,2021-10-04,"1,767.60","1,762.60","1,771.50","1,747.70",Monday,1.481,1.460,1.508,1.453,Monday
1342,2021-10-05,"1,760.90","1,770.80","1,771.10","1,748.60",Tuesday,1.528,1.486,1.540,1.472,Tuesday
1343,2021-10-06,"1,761.80","1,760.50","1,765.90","1,745.40",Wednesday,1.528,1.536,1.573,1.508,Wednesday
1344,2021-10-07,"1,755.45","1,764.30","1,767.65","1,752.10",Thursday,1.576,1.531,1.580,1.512,Thursday
1345,2021-10-08,"1,758.05","1,755.35","1,759.70","1,753.65",Friday,1.589,1.582,1.590,1.582,Friday

In [169]:
gold_2 = gold_1.merge(snp_data, how='left', on='Date')
gold_2

,Date,Price_Gold,Open_Gold,High_Gold,Low_Gold,Day_Gold,Price_USB,Open_USB,High_USB,Low_USB,Day_USB,Price_Snp,Open_Snp,High_Snp,Low_Snp,Day_Snp
0,2016-09-08,"1,400.20","1,400.20","1,400.20","1,400.20",Thursday,1.601,1.541,1.620,1.529,Thursday,"2,181.30","2,182.76","2,184.94","2,177.49",Thursday
1,2016-09-09,"1,393.10","1,393.10","1,393.10","1,393.10",Friday,1.675,1.602,1.678,1.594,Friday,"2,127.81","2,169.08","2,169.08","2,127.81",Friday
2,2016-09-12,"1,384.40","1,384.40","1,384.40","1,384.40",Monday,1.666,1.668,1.697,1.659,Monday,"2,159.04","2,120.86","2,163.30","2,119.12",Monday
3,2016-09-13,"1,380.80","1,380.80","1,380.80","1,380.80",Tuesday,1.729,1.661,1.752,1.637,Tuesday,"2,127.02","2,150.47","2,150.47","2,120.27",Tuesday
4,2016-09-14,"1,383.30","1,386.70","1,386.70","1,379.20",Wednesday,1.698,1.725,1.743,1.682,Wednesday,"2,125.77","2,127.86","2,141.33","2,119.90",Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1341,2021-10-04,"1,767.60","1,762.60","1,771.50","1,747.70",Monday,1.481,1.460,1.508,1.453,Monday,"4,300.46","4,348.84","4,355.51","4,278.94",Monday
1342,2021-10-05,"1,760.90","1,770.80","1,771.10","1,748.60",Tuesday,1.528,1.486,1.540,1.472,Tuesday,"4,345.72","4,309.87","4,369.23","4,309.87",Tuesday
1343,2021-10-06,"1,761.80","1,760.50","1,765.90","1,745.40",Wednesday,1.528,1.536,1.573,1.508,Wednesday,"4,363.55","4,319.57","4,365.57","4,290.49",Wednesday
1344,2021-10-07,"1,755.45","1,764.30","1,767.65","1,752.10",Thursday,1.576,1.531,1.580,1.512,Thursday,"4,399.76","4,383.73","4,429.97","4,383.73",Thursday
1345,2021-10-08,"1,758.05","1,755.35","1,759.70","1,753.65",Friday,1.589,1.582,1.590,1.582,Friday,NaN,NaN,NaN,NaN,NaN

In [170]:
gold_3 = gold_2.merge(eth_data, how='left', on='Date')
gold_3.dropna()

,Date,Price_Gold,Open_Gold,High_Gold,Low_Gold,Day_Gold,Price_USB,Open_USB,High_USB,Low_USB,...,Open_Snp,High_Snp,Low_Snp,Day_Snp,Open_Eth,High_Eth,Low_Eth,Close_Eth,Volume_Eth,Day_Eth
22,2016-10-10,"1,313.90","1,313.90","1,313.90","1,313.90",Monday,1.765,1.723,1.765,1.723,...,"2,160.39","2,169.60","2,160.39",Monday,12.060700,12.062200,11.624000,11.755500,1.080920e+07,Monday
23,2016-10-11,"1,309.50","1,309.50","1,309.50","1,309.50",Tuesday,1.767,1.767,1.781,1.745,...,"2,161.35","2,161.56","2,128.84",Tuesday,11.762400,12.160900,11.751300,11.785700,1.172770e+07,Tuesday
24,2016-10-12,"1,307.70","1,307.70","1,307.70","1,307.70",Wednesday,1.771,1.769,1.801,1.764,...,"2,137.67","2,145.36","2,132.77",Wednesday,11.784600,12.072000,11.707200,11.933500,9.694640e+06,Wednesday
25,2016-10-13,"1,312.30","1,312.30","1,312.30","1,312.30",Thursday,1.746,1.767,1.769,1.727,...,"2,130.26","2,138.19","2,114.72",Thursday,11.909200,12.131200,11.783700,11.963000,8.665190e+06,Thursday
26,2016-10-14,"1,310.40","1,310.40","1,310.40","1,310.40",Friday,1.805,1.752,1.805,1.750,...,"2,139.68","2,149.19","2,132.98",Friday,11.989100,12.074000,11.895900,11.938200,4.333510e+06,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,2021-09-30,"1,757.00","1,726.00","1,765.00","1,721.80",Thursday,1.492,1.510,1.557,1.484,...,"4,370.67","4,382.55","4,306.24",Thursday,2852.558838,3046.519531,2840.289551,3001.678955,1.766107e+10,Thursday
1340,2021-10-01,"1,758.40","1,757.20","1,765.20","1,749.90",Friday,1.465,1.501,1.510,1.462,...,"4,317.16","4,375.19","4,288.52",Friday,3001.129395,3329.853516,2978.654297,3307.516113,2.230763e+10,Friday
1341,2021-10-04,"1,767.60","1,762.60","1,771.50","1,747.70",Monday,1.481,1.460,1.508,1.453,...,"4,348.84","4,355.51","4,278.94",Monday,3418.776367,3434.775391,3283.448730,3380.089111,1.774715e+10,Monday
1342,2021-10-05,"1,760.90","1,770.80","1,771.10","1,748.60",Tuesday,1.528,1.486,1.540,1.472,...,"4,309.87","4,369.23","4,309.87",Tuesday,3381.784424,3541.451660,3365.817627,3518.518555,1.663259e+10,Tuesday
1343,2021-10-06,"1,761.80","1,760.50","1,765.90","1,745.40",Wednesday,1.528,1.536,1.573,1.508,...,"4,319.57","4,365.57","4,290.49",Wednesday,3516.570313,3622.551270,3354.469727,3580.562012,2.185523e+10,Wednesday

In [171]:
gold_3.dtypes

Date          datetime64[ns]
Price_Gold            object
Open_Gold             object
High_Gold             object
Low_Gold              object
Day_Gold              object
Price_USB            float64
Open_USB             float64
High_USB             float64
Low_USB              float64
Day_USB               object
Price_Snp             object
Open_Snp              object
High_Snp              object
Low_Snp               object
Day_Snp               object
Open_Eth             float64
High_Eth             float64
Low_Eth              float64
Close_Eth            float64
Volume_Eth           float64
Day_Eth               object
dtype: object